<div class="left">
	<div class="container ">
		
		<% if current_user.id == @team.owner_id %>
		<div class="view clearfix bg-none">
			<h4 class='border-none'>Bewerken</h4>

			<%= render 'form' %>

			<%= link_to 'Verwijderen', @team, method: :delete, data: { confirm: 'Weet je het zeker?' }, class: 'btn delete' %>

		</div>
		<% end %>
		
	</div>
</div>

<div class="right">
	<div class="container <%= 'no-left-content' if current_user.id != @team.owner_id %>">

		<h2><%= @team.title %></h2>
		
		<% if current_user.id == @team.owner_id && @team_requests.any? %>
		<div class="view">
			<h3>Join requests</h3>
			<ul class='list'>
			<% @team_requests.each do |request| %>
				<li class='<%= cycle('even', 'odd') %> team-member'>
						<a class="avatar">
						<% if request.user.avatar? %>
							<%= image_tag request.user.avatar.url(:thumb) %>
						<% elsif request.user.name? %>
							<span>
								<%= request.user.name.chars.first %>
							</span>
						<% else %>
							<span>
								<%= request.user.email.chars.first %>
							</span>
						<% end %>
					</a>
					<a class="user"> 
						<%= request.user.name || request.user.email %>
					</a>
					<%= link_to 'Add', add_team_member_path(member_id: request.user.id, team_id: @team.id), class: 'btn new' %>
					<%= link_to 'Remove', remove_request_path(request_id: request.id), class: 'btn delete' %>
				</li>
			<% end %>
			</ul>	
		</div>
		<% end %>

		<div class="view clearfix">
		<h3>Team members</h3>
		<ul class='list'>	

			<% cycle('even') %>

			<% @team_members.each do |member| %>
				<li class='<%= cycle('even', 'odd') %> team-member'>
				<% if member != current_user %>
					<a class="avatar" href="<%= view_user_path(id: member.id) %>">
				<% else %>
					<a class="avatar" href="<%= authenticated_root_path %>">
				<% end %>
						<% if member.avatar? %>
							<%= image_tag member.avatar.url(:thumb) %>
						<% elsif member.name? %>
							<span>
								<%= member.name.chars.first %>
							</span>
						<% else %>
							<span>
								<%= member.email.chars.first %>
							</span>
						<% end %>
					</a>
				<% if member != current_user %>				
					<a href="<%= view_user_path(id: member.id) %>" class="user">
				<% else %>
					<a href="<%= authenticated_root_path %>" class="user">
				<% end %>
						<%= member.name || member.email %>
					</a>
					<span class='ec'>
						<em>
							<%= 'Teamcaptain' if member.id == @team.owner_id %> 
							&nbsp;
							&nbsp;
						</em>
					</span>
				</li>
			<% end %>
		</ul>

		<% if current_user.id != @team.owner_id %>
			
			<%= link_to 'Team verlaten', leave_team_path, data: { confirm: 'Weet je het zeker?' }, class: 'btn delete' %>

		<% end %>
		</div>
	</div>
</div>