<div class='profile-view view clearfix'>
	
	<% if current_user.avatar? %>
		<div class='profile-picture js-user-image'>
			<% if current_user.avatar? %>
				<%= image_tag current_user.avatar.url(:thumb) %>
			<% elsif current_user.name? %>
				<span>
					<%= current_user.name.chars.first %>
				</span>
			<% else %>
				<span>
					<%= current_user.email.chars.first %>
				</span>
			<% end %>
		</div>
	<% end %>

	<% if current_user.name? %>
			<h3><%= current_user.name %></h3>
	<% else %>
			<h3>Welkom</h3>
	<% end %>

	<table>
		<tr> 
			<td class="bold">Email adres: </td>
			<td><%= current_user.email %></td>
		</tr>
		<% if current_user.mobile? %></td>
			<tr>
				<td class="bold">Mobiel nr: </td>
				<td><%= current_user.mobile %></td>
			</tr>
		<% end %>

		<% if current_user.student_number? %></td>
			<tr>
				<td class="bold">Student nr: </td>
				<td><%= current_user.student_number %></td>
			</tr>
		<% end %>
	</table>
</div>


