<div class='top-nav js-width <%= 'active' if controller.controller_name == 'competencies' %>'>
	<% if user_signed_in? %>
		<!-- Here comes the breadcrumps -->
		<ul>
			<% if controller.controller_name == 'competencies' %>
				
				<li class='<%= 'active' if action_name == 'index' %>'>
					<%= link_to 'Competencie overzicht', competencies_path, class: 'btn bread' %>
				</li>

				<li class='<%= 'active' if action_name == 'new' %>'>
					<%= link_to 'Competencie', new_competency_path, class: 'btn plus' %>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>