<ul>
	<%= form_for @competency do |f| %>
		<li>
			<%= f.label(:title, 'Competencie') %>
			<%= f.select(:title, @competency_list)  %>
		</li>

		<li class='form-select'>
			<%= f.label(:points, 'Total ec\'s') %>
			<%= f.select(:points, @points_list) %>
		</li>

		<li class='form-select'>
			<%= f.label(:expertise, 'Niveau') %>
			<%= f.select(:expertise, @expertise_list) %>  
		</li>

		<li>
			<%= f.check_box(:added, checked: true) %>
			<%= f.label(:added, 'Check it!') %>
			<i>Zodat de competencie wordt toegevoegd bij het genereren van je pop</i>
		</li>
		
		<br>
		
		<li>
			<%= f.submit nil, class: 'btn new left bigger' %>
		</li>
	<% end %> 
</ul>