<div class='left'>
	<%= render 'shared/competency_list' %>
</div>

<div class="right">
	<div class='container'>
			<h2>Competencies</h2>
			<div class='view'>
			<ul class='competency'>
				<% @competencies.each do |competency| %>

					<% if competency.added %>
						<% @set_class_added = 'added-to-pop' %>
					<% else %>
						<% @set_class_added = 'not-added-to-pop' %>
					<% end %>

					<li class='<%= @set_class_added %> clearfix'>
						<%= link_to competency.title, competency_path(competency), class: 'basic-link left arrow-forward link' %>
						
						<i class='ec'>
							<%= competency.points %> ec 
							<%= competency.expertise %>
						</i>

						<% @total_hours_spend = 0 %>
							
						<ul class='learn-moments clearfix'>
							<% if competency.learn_moments.any? %>
								<% cycle('odd') %>
								
								<% competency.learn_moments.each do |learn_moment| %>
									<li class='clearfix <%= cycle('odd', 'even') %>'>
									
										<%= link_to learn_moment.title, learn_moment_path(learn_moment), class: 'basic-link' %>	

										<span class='hours'>
											<%= @hours_list[learn_moment.hours - 1] %> uren
										</span>

										<% @total_hours_spend = @total_hours_spend + learn_moment.hours %>
									
									</li>
								<% end %>
							<% end %>
						</ul>
						
						<%= render 'proces', competency: competency %>
						
						<%= link_to 'Leermoment', new_learn_moment_path(:competency_id => competency.id), class: 'btn plus new' %>

						<% if competency.learn_moments.any? %>
							<a class='btn link left js-show show-btn' href=''>Bekijk leermomenten</a> 
						<% end %>

					</li>

				<% end %>
			</ul>
		</div>
	</div>
</div>