<div class="page front-page">
		<h1>Lazy pop</h1>
    <h4><i>&quot;mijn persoonlijke ontwikkeling&quot;</i></h4> 
</div>

<div class="page">
	<h2>
		Professioneel Ontwikkelingsplan 
		<i>//  - The Next Web.</i>
	</h2>

	<%= render 'contact' %>

	<%= render 'competency_list' %>

</div>

<% current_user.competencies.each do |competency| %>
	<div class="page">
		<h2>
			<%= competency.title %>
			<i class="ec">
				<%= competency.points %> 
				<%= competency.expertise %>
			</i>

		</h2>
		
		<%= render 'learning_goal', competency: competency %>

		<%= render 'learn_moment', competency: competency %>

	</div>

	<%= render 'bill', competency: competency %>
	
<% end %>

	<%= render 'remaining_logs' %>