<% if learning_goal.achieved %>
	<% achieved = 'achieved' %>
<% else %>
	<% achieved = 'not-achieved' %>
<% end %>
<li class='<%= cycle('odd', 'even') %> <%= achieved %>' 
		data-id='<%= learning_goal.id %>'>
	<%= link_to 'Bewerken', edit_learning_goal_path(learning_goal.id), remote: true, class: 'btn pensil list-edit' %>
	<p >
	 	<%= learning_goal.title %>
	</p>
</li>