<h2>Log toevoegen</h2>
<%= render 'form' %>

<div class='clearfix'></div>

<h2>Logboek</h2>
<% @logs.group_by(&:week).sort.each do |week, log| %> 
  <h3>Week <%= week %></h3>
  
  <% log.group_by(&:day).sort.each do |day, log| %>
    <% cycle('odd') %>
    <ul class='competency logbook'>
      <li>
        <timestamp>Dag <%= day %></timestamp>
       	<ul class='learn-moments show'>      
         	<% log.each do |log| %>
            <li class='<%= cycle('odd', 'even') %>'>
         			<%= log.title %>
              <%= link_to 'Verwijderen', log, method: :delete, data: { confirm: 'Weet je het zeker?' }, class: 'small btn delete'  %>
              <span class='hours'>
                <%= @hours_list[log.hours] %> Uren
              </span> 
         		</li>
         	<% end %>
       	</ul>
      </li>
    </ul>
  <% end %>

<% end %>
