<!DOCTYPE html>
<html>
<head>
  <title>Lazy pop</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'shared/notice' %>

	<%= render 'shared/header' %>

	<%= render 'shared/top_nav' %>
	
	<div class='pop-up'>
		<div class='container'>
		</div>
	</div>

	<div class='wrapper clearfix'>		
		
		<%= yield %>

	</div>

	<footer>
		<% if user_signed_in? %>

			<%= link_to 'Feedback?', new_feedback_path, class: 'feedback-btn', id: 'feedback-btn', remote: true %>
			<div class='feedback-container'>
				
			</div>
			<span class='feedback-notice'>
				Bedankt voor je feedback!
			</span>
		<% end %>

		
	</footer>
	
	<div class='overlay'></div>

</body>
</html>
